* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.c-hall {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.c-hall .bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-hall .bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.8);
}

.c-hall .bg-image .c-filter {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.c-hall h1 {
  margin: 60px 0;
  padding: 0 90px;
  text-align: center;
}

.c-hall h1 img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 120px;
}

@media (max-width: 820px) {
  .c-hall h1 {
    padding: 0 30px;
  }
}

.c-hall .c-members {
  display: flex;
  gap: 90px 75px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  margin: 30px auto 90px;
  padding: 0 60px;
}

.c-hall .c-members .item {
  display: block;
  transition: .3s;
}

.c-hall .c-members .item picture {
  display: block;
  margin: auto;
}

.c-hall .c-members .item picture img {
  width: 100%;
}

.c-hall .c-members .item:first-child {
  width: 100%;
  margin: 0 auto;
}

.c-hall .c-members .item:first-child picture {
  width: 480px;
}

.c-hall .c-members .item[data-tooltip] {
  position: relative;
}

.c-hall .c-members .item[data-tooltip]::after {
  background: #081C44;
  border-radius: 6px;
  color: white;
  content: attr(data-tooltip);
  font-size: 14px;
  width: calc(100% - 40px);
  position: absolute;
  padding: 6px 10px 7px;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  bottom: 60px;
  transform: translate(-50%, 0);
  transition: .3s;
  text-align: center;
}

.c-hall .c-members .item:hover {
  transform: rotate(-5deg) scale(1.05);
}

.c-hall .c-members .item:hover[data-tooltip] {
  position: relative;
}

.c-hall .c-members .item:hover[data-tooltip]::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 820px) {
  .c-hall .c-members {
    gap: 60px 30px;
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  .c-hall .c-members .item {
    padding: 0 30px;
  }
  .c-hall .c-members .item picture {
    max-width: 420px;
  }
  .c-hall .c-members .item:first-child {
    padding: 0;
  }
  .c-hall .c-members .item:first-child picture {
    width: 100%;
  }
}

.c-videos {
  background: #113b91;
  background: radial-gradient(circle, #113b91 0%, #081c44 100%);
  padding: 90px 90px;
}

.c-videos h2 {
  color: white;
  font-size: 48px;
  margin: 0 0 60px;
  text-align: center;
}

@media (max-width: 820px) {
  .c-videos h2 {
    font-size: 36px;
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  .c-videos {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
}

.c-videos .c-embed {
  display: grid;
  grid-template-columns: 1fr 260px;
  grid-gap: 60px;
  max-width: 1600px;
  margin: 0 auto;
}

.c-videos .c-embed .playlist {
  display: flex;
}

.c-videos .c-embed .playlist ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-videos .c-embed .playlist ul li {
  display: flex;
  flex: 1;
}

.c-videos .c-embed .playlist ul li button {
  background: #7A8EB8;
  border: none;
  border-bottom: 1px solid #081C44;
  color: #081C44;
  cursor: pointer;
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  margin: 0;
  transition: .3s;
  width: 100%;
}

.c-videos .c-embed .playlist ul li button:hover, .c-videos .c-embed .playlist ul li button.active {
  background: #081C44;
  color: white;
  transform: scale(1.06);
}

.c-videos .c-embed .playlist ul li:last-child button {
  border-bottom: none;
}

.c-videos .c-embed .c-iframe {
  position: relative;
  padding-top: 66%;
  width: 100%;
}

.c-videos .c-embed .c-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 820px) {
  .c-videos .c-embed {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (max-width: 600px) {
  .c-videos .c-embed {
    grid-gap: 30px;
  }
  .c-videos .c-embed .playlist {
    padding: 0 30px;
    order: 1;
  }
  .c-videos .c-embed .c-iframe {
    order: 2;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: #113B91;
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  background-color: #7A8EB8;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #7A8EB8;
}
/*# sourceMappingURL=styles.css.map */